__pycache__/
*.py[cod]
**/*.ipynb

.git/
.github/
.venv/
.vscode/
.idea/
.ruff_cache/
.gitignore
.gitmodule

logs/
docker-compose.yml
Dockerfile
LICENSE
README.md
requirements.txt
dev-requirements.txt
config.template.toml
.template.env
