__pycache__/
*.py[cod]
_pyright/
.git/
.github/
.venv/
.vscode/
.idea/
logs/
.gitignore
.gitmodules
**/*.ipynb
docker-compose.yml
Dockerfile
LICENSE
README.md
requirements.txt
dev-requirements.txt
config.template.toml
.template.env
