services:
  bot:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: pythonista-bot
    depends_on:
      - database
    restart: always

  database:
    container_name: pythonista-bot-db
    env_file:
      - .env
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    healthcheck:
      interval: 1s
      retries: 10
      test:
        [
          "CMD-SHELL",
          "pg_isready -d $${POSTGRES_DB} -U $${POSTGRES_USER}"
        ]
      timeout: 5s
    image: postgres
    restart: always
    volumes:
      - pgdata:/var/lib/postgresql/data
      - ./database/schema.sql:/docker-entrypoint-initdb.d/schema.sql:ro

  snekbox:
    container_name: snekbox-eval
    image: ghcr.io/python-discord/snekbox
    ipc: "none"
    ports:
      - "127.0.0.1:8060:8060"
    privileged: true
    restart: always

version: "3"
volumes:
  pgdata:
