discord.py @ git+https://github.com/Rapptz/discord.py
aiohttp~=3.7.3
asyncpg~=0.29.0
toml>=0.10.2
asyncpg-stubs
mystbin.py
jishaku
starlette-plus @ git+https://github.com/PythonistaGuild/StarlettePlus
uvicorn